#duel-view{
    position: absolute;
    width: 100%;
    height: 100%;
}

.playable-cards{
    position: absolute;
    width: 100%;
    height: 50%;
    .playable-card{

        &:nth-child(1){
            left: 36.5%;
        }
        &:nth-child(2){
            left: 46.5%;
        }
        &:nth-child(3){
            left: 56.5%;
        }
    }
}

.playable-card{
    position: absolute;
    border-style: solid;
    border-width: 0.05em;
    width: 7%;
    height: 100%;
    font-weight: bold;
    text-align: center;

    .value{
        position: absolute;
        width: 100%;
        font-size: xx-large;

        &.bottom{
            border-top: 1px dashed;
        }
        &.top{
            border-bottom: 1px dashed;
        }
    }

    .element{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
}

.actions-unavailable{
    #discard-button, .playable-card:not(.preparing-card){
        &::after{
            position:absolute;
            display:block;
            z-index: 1;
            background-color: black;
            opacity: 0.35;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            content: '';
        }
    }
}

.unavailable:not(.preparing-card)::after {
}

#central-stack{
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 40%;
    .playable-card{
        left: 46.5%;
    }
}

.card-loading{
    position: absolute;
    width: 100%;
    height: 30%;
}



.score-bar{
    position: absolute;
    width: 50%;
    height: 15%;
    border-style: solid;
    left: 25%;
    background-color: #666666;

    .text-info{
        position: absolute;
        width: 100%;
        text-align: center;
        font-weight: bold;
        color: white;
        top: 25%;
    }
}

.life-bar{
    position: absolute;
    width: 50%;
    height: 15%;
    border-style: solid;
    left: 25%;
    background-color: #666666;
    .filling-bar {
        background-color: red;
    }

    .text-info{
        position: absolute;
        width: 100%;
        text-align: center;
        font-weight: bold;
        color: white;
        top: 25%;
    }
}


.car-loading-indicator{
    position: absolute;
    width: 100%;
    height: 45%;
    text-align: center;
    top: 50%;

    transition-timing-function: cubic-bezier(.07,.21,0,1);
    transition: all 6s;
}

#countdown{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

// @keyframes example {
//     from {left: 25%;}
//     to {left: 75%;}
// }

.remaining-cards-number-list{
    position: absolute;
    right: 25%;
    bottom: 20%;

    .remaining-cards-number{
        padding: 4px;
        font-weight: bold;
    }
}
#game-finished{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.70);
    color: white;
    z-index: 20;

    .text-info{
        position: absolute;
        bottom: 50%;
        width: 40%;
        left: 30%;
        text-align: center;
        font-size: x-large;
        font-weight: bold;
    }
}

.score-generated-feedback {
    position: absolute;
    font-weight: bold;
    font-size: x-large;

    transition-timing-function: linear;

    transition: all 2s;
}

.card-player-icon {
    position: absolute;
    left: 13em;
    width: 7.5em;
    height: 7.5em;

    svg{
        position: absolute;
    }
    img{
        position: absolute;
        width: 80%;
        height: 80%;
        transform: translate(11%, 13%);
    }
}

//FEEDBACKS

.playable-card.feedback{
    z-index: 3;
    visibility: hidden;
}