@keyframes glowEffectRock {
    0%   {box-shadow: 0px 0px 35px 5px rgb(81, 45, 0);}
    50%  {box-shadow: 0px 0px 12px 11px rgb(81, 45, 0);}
    100%   {box-shadow: 0px 0px 35px 5px rgb(81, 45, 0);}
}

@keyframes glowEffectScissor {
    0%   {box-shadow: 0px 0px 35px 5px red;}
    50%  {box-shadow: 0px 0px 12px 11px red;}
    100%   {box-shadow: 0px 0px 35px 5px red;}
}
@keyframes glowEffectPaper {
    0%   {box-shadow: 0px 0px 35px 5px rgb(139, 195, 74);}
    50%  {box-shadow: 0px 0px 12px 11px rgb(139, 195, 74);}
    100%   {box-shadow: 0px 0px 35px 5px rgb(139, 195, 74);}
}

@mixin glowAnimation($animationName) {
        animation: $animationName 1.5s linear infinite;
}

.rock {
    background-color: rgb(81, 45, 0);
    // *{
    //     color: white;
    // }
}

.scissor {
    background-color: red;
}

.paper {
    background-color: rgb(139, 195, 74);
}

// &.visual-mode-normal {
//     #player-side:not(.is-spectator) {
//         .rock {
//             &.glowing {
//                 @include glowAnimation(glowEffectRock);
//             }
//         }
//         .scissor {
//             &.glowing {
//                 @include glowAnimation(glowEffectScissor);
//             }
//         }
//         .paper {
//             &.glowing {
//                 @include glowAnimation(glowEffectPaper);
//             }
//         }
//     }
// }
