#duel-view{
    position: absolute;
    width: 100%;
    height: 100%;
}

.playable-cards{
    position: absolute;
    width: 100%;
    .playable-card{
        transform: translateX(-50%);
        @media screen and (max-width: $screen-width1 - 1px) {
            transform: initial;
        }
        &:nth-child(1){
            left: calc(50% - 11% - 40px);
            @media screen and (max-width: $screen-width1 - 1px) {
                left: initial;
                right: calc(#{$playable-card-hmargin} * 3 + #{$playable-card-width} * 2);
            }
        }
        &:nth-child(2){
            left: 50%;
            @media screen and (max-width: $screen-width1 - 1px) {
                left: initial;
                right: calc(#{$playable-card-hmargin} * 2 + #{$playable-card-width});
            }
        }
        &:nth-child(3){
            left: calc(50% + 11% + 40px);
            @media screen and (max-width: $screen-width1 - 1px) {
                left: initial;
                right: calc(#{$playable-card-hmargin});
            }
        }
    }
}

.playable-card{
    position: absolute;
    border-style: solid;
    border-width: 0.05em;
    font-weight: bold;
    text-align: center;
    border-radius: 5%;
    width: calc(#{$playable-card-width});

    .card-image {
        width: 100%;
        display: block;
    }

    .value{
        position: absolute;
        // width: 100%;
        font-size: xx-large;
        line-height: 120%;
        color: #ffec00;
        text-shadow: -1px 1px 1px #000, 1px 1px 1px #000, 1px -1px 1px #000, -1px -1px 1px #000, 0px 1px 1px #000, 1px 0px 1px #000, 0px -1px 1px #000, -1px 0px 1px #000;

        &.bottom{
            // border-top: 1px dashed;
            right: 8%;
            bottom: 2%;
        }
        &.top{
            left: 8%;
            top: 2%;
            // border-bottom: 1px dashed;
        }
    }

    .element{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        font-size: x-large;
    }
}

.actions-unavailable{
    #discard-button, .playable-card:not(.preparing-card){
        &::after{
            position:absolute;
            display:block;
            z-index: 1;
            background-color: black;
            opacity: 0.35;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            content: '';
        }
    }
}

.unavailable:not(.preparing-card)::after {
}

#central-stack{
    position: absolute;
    width: 100%;
    bottom: 40%;
    bottom: calc(50% + (#{$playable-card-width} * 1.425) / 2);
    .playable-card{
        left: calc(50% - 65px);
        @media screen and (max-width: $screen-width1 - 1px) {
            left: initial;
            right: calc(#{$playable-card-hmargin} * 2 + #{$playable-card-width});
        }

    }
}




.score-bar{
    position: absolute;
    width: 50%;
    height: 15%;
    border-style: solid;
    left: 25%;
    background-color: #666666;

    .text-info{
        position: absolute;
        width: 100%;
        text-align: center;
        font-weight: bold;
        color: white;
        top: 25%;
    }
}

.life-bar{
    position: absolute;
    width: 68%;
    height: 15%;
    border-style: solid;
    left: 16%;
    background-color: #666666;

    @media screen and (max-width: $screen-width1 - 1px) {
        left: initial;
        right: 0;
        width: calc(100% - #{$player-icon-width} - 3px * 3 - 1px);
    }
    .filling-bar {
        background-color: red;
    }

    .text-info{
        position: absolute;
        width: 100%;
        text-align: center;
        font-weight: bold;
        color: white;
        top: 50%;
        transform: translateY(-50%);    
    }
}


.card-loading{
    position: absolute;
    width: 100%;
    height: 30%;
    .car-loading-indicator{
        position: absolute;
        width: 100%;
        height: 45%;
        text-align: center;
        top: 50%;

        transition-timing-function: cubic-bezier(.07,.21,0,1);
        transition: all 6s;

        @media screen and (max-width: $screen-width1 - 1px) {
            width: initial;
            left: calc(#{$player-icon-width} + 6px + (100% - #{$player-icon-width} - 6px) / 2);
        }
    }
}


#countdown{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

// @keyframes example {
//     from {left: 25%;}
//     to {left: 75%;}
// }

.remaining-cards-number-list{
    position: absolute;
    display: flex;
    width: 100%;
    border: #232222 3px solid;
    left: -3px;
    color: white;
    /* height: 24px; */
    text-align: center;
    text-shadow: -1px 1px 1px #000, 1px 1px 1px #000, 1px -1px 1px #000, -1px -1px 1px #000, 0px 1px 1px #000, 1px 0px 1px #000, 0px -1px 1px #000, -1px 0px 1px #000;

    .remaining-cards-number{
        font-weight: bold;
        flex: 1;
        line-height: 30px;
    }
}
#game-finished{
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    z-index: 20;

    .first-part {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .center-part {
            width: 200px;
            padding: 0.5em 1em 0.8em;
            font-size: x-large;
            font-weight: bold;
            background: black;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            border: white solid 2px;
        }
    }
    .next-part {
        display: none;
        .end-results {
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(0,0,0,0.70);
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;

            .center-part{
                background: black;
                padding: 0.5em 1em;
                font-weight: bold;
                font-size: 1.5em;
                border: white solid 2px;
            }

            .player-result {
                background-color: black;
                width: 300px;
                padding: 0.5em 1em;
                border: white solid 2px;
                .result-row {
                    display: flex;
                    justify-content: space-between;
                }
                .player-sumary {
                    display: flex;
                    justify-content: space-between;                    
                }
            }
            .end-game-buttons {
                margin-top: 16px;
                display: flex;
                justify-content: space-between;
            }

        }        
    }
}

.score-generated-feedback {
    position: absolute;
    font-weight: bold;
    font-size: 2.5em;
    z-index: 10;

    transition-timing-function: linear;

    transition: all 1.5s;
    color: #c6c6c6;
    text-shadow: -1px -1px 3px #000, 1px -1px 3px #000, -1px 1px 3px #000, 1px 1px 3px #000;
}


.card-player-icon {
    position: absolute;
    border: #232222 3px solid;
    width: calc(#{$player-icon-width});
    left: calc(8% - 68px);
    @media screen and (max-width: $screen-width1 - 1px) {
        left: 0;
    }

    img{
        display: block;
        width: 100%;
    }
    .player-username {
        position: absolute;
        line-height: 26px;
        background: #232222;
        width: 100%;
        border-left: #232222 3px solid;
        border-right: #232222 3px solid;
        color: white;
        text-align: center;
        left: -3px;
    }
}

//FEEDBACKS

.playable-card.feedback{
    z-index: 3;
    visibility: hidden;
}

.damage-aura {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;

     .damage-aura-indicator {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        top: 70%;
        @media screen and (max-width: $screen-width1 - 1px) {
            width: initial;
            left: calc(#{$player-icon-width} + 6px + (100% - #{$player-icon-width} - 6px) / 2);
        }
    }

}

#card-environment {
    // @media screen and (max-width: $screen-width1 - 1px) {
    //     position: relative;
    //     left: calc(50% - ((100% - #{$player-icon-width} - 3px * 3 - 1px + 3px) / 2));
    //     width: 100%;
    //     height: 100%;
    // }
    svg {
        position: absolute;
        z-index: -2000;
    }
}