#duel-view{
    position: absolute;
    width: 100%;
    height: 100%;
}

.plane-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 200;
    opacity: 0;
    pointer-events: none;
}

.playable-cards{
    position: absolute;
    width: 100%;
    .playable-card{
        // transform: translateX(-50%);
        // @media screen and (max-width: $screen-width1 - 1px) {
        //     transform: initial;
        // }
        &:nth-child(1){
            left: calc(50% - 9.5% - 60px - (#{$playable-card-width} / 2));
            @media screen and (max-width: $screen-width1 - 1px) {
                left: initial;
                right: calc(#{$playable-card-hmargin} * 3 + #{$playable-card-width} * 2);
            }
        }
        &:nth-child(2){
            left: calc(50% - (#{$playable-card-width} / 2));
            @media screen and (max-width: $screen-width1 - 1px) {
                left: initial;
                right: calc(#{$playable-card-hmargin} * 2 + #{$playable-card-width});
            }
        }
        &:nth-child(3){
            left: calc(50% + 9.5% + 60px - (#{$playable-card-width} / 2));
            @media screen and (max-width: $screen-width1 - 1px) {
                left: initial;
                right: calc(#{$playable-card-hmargin});
            }
        }
    }
}

#spectating-message, #already-in-another-duel, #opponent-has-left{
    position: absolute;
    z-index: 1;
    width: 100%;
    background: #ffd35c;
    bottom: 33%;
    opacity: 0.8;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}
#already-in-another-duel {
    bottom: 40%;
    font-size: 20px;
    img {
        width: 120px;
    }    
}
#opponent-has-left{
    bottom: initial;
    top: 78%;
}

.playable-card{
    position: absolute;
    border-style: solid;
    border-width: 0.05em;
    font-weight: bold;
    text-align: center;
    border-radius: 5%;
    width: calc(#{$playable-card-width});

    .card-image {
        width: 100%;
        display: block;
    }

    .value{
        position: absolute;
        // width: 100%;
        font-size: xx-large;
        line-height: 120%;
        color: #ffec00;
        text-shadow: -1px 1px 1px #000, 1px 1px 1px #000, 1px -1px 1px #000, -1px -1px 1px #000, 0px 1px 1px #000, 1px 0px 1px #000, 0px -1px 1px #000, -1px 0px 1px #000;

        &.bottom{
            // border-top: 1px dashed;
            right: 8%;
            bottom: 2%;
        }
        &.top{
            left: 8%;
            top: 2%;
            // border-bottom: 1px dashed;
        }
    }

    .element{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        font-size: x-large;
    }
}

.actions-unavailable{
    #discard-button, .playable-card:not(.preparing-card){
        &::after{
            position:absolute;
            display:block;
            z-index: 1;
            background-color: black;
            opacity: 0.25;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            content: '';
        }
    }
}

.unavailable:not(.preparing-card)::after {
}

#central-stack{
    position: absolute;
    width: 100%;
    bottom: 40%;
    bottom: calc(50% + (#{$playable-card-width} * 1.425) / 2);
    .playable-card{
        left: calc(50% - 65px);
        @media screen and (max-width: $screen-width1 - 1px) {
            left: initial;
            right: calc(#{$playable-card-hmargin} * 2 + #{$playable-card-width});
        }

    }
}




.score-bar{
    position: absolute;
    width: 50%;
    height: 15%;
    border-style: solid;
    left: 25%;
    background-color: #666666;

    .text-info{
        position: absolute;
        width: 100%;
        text-align: center;
        font-weight: bold;
        color: white;
        top: 25%;
    }
}

.life-bar{
    position: absolute;
    width: 68%;
    height: 15%;
    border-style: solid;
    left: 16%;
    background-color: #666666;

    @media screen and (max-width: $screen-width1 - 1px) {
        left: initial;
        right: 0;
        width: calc(100% - #{$player-icon-width} - 3px * 3 - 1px);
    }
    .filling-bar {
        background-color: red;
    }

    .text-info{
        position: absolute;
        width: 100%;
        text-align: center;
        font-weight: bold;
        color: white;
        top: 50%;
        transform: translateY(-50%);    
    }
}

// @keyframes cardLoadingBar {
//     0%   {width: 0%;}
//     100% {width: 100%;}
// }


.card-loading{
    position: absolute;
    width: 100%;
    height: 30%;
    // .car-loading-indicator{
    //     position: absolute;
    //     width: 100%;
    //     height: 45%;
    //     text-align: center;
    //     top: 50%;

    //     transition-timing-function: cubic-bezier(.07,.21,0,1);
    //     transition: all 6s;

    //     @media screen and (max-width: $screen-width1 - 1px) {
    //         width: initial;
    //     }
    // }
    .loading-bar {
        overflow: hidden;
        position: absolute;
        border: black 3px solid;
        width: calc(130px - 6px - 10px);
        height: 18px;
        left: calc(50% - (130px / 2) + 5px);
        background-color: rgb(125, 125, 125);

        .filling-part {
            position: absolute;
            left: 0;
            background-color: white;
            height: 100%;
            width: 0;
        }
        .filling-part-2 {
            position: absolute;
            left: calc(33% + 1px);
            background-color: #FFEC00;
            height: 100%;
            width: 0;
        }
        .change-hand-marker {
            position: absolute;
            width: 4px;
            height: 100%;
            background-color: hsl(0, 1%, 16%);
            left: 33%;
        }
    }

}


#countdown{
    position: absolute;
    bottom: 40%;
    width: 100%;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    @media screen and (max-width: 600px) {
        font-size: 20px;
    }
    .opponent-name {
        font-size: 110%;
        margin-right: 6px;
    }
    
    .go-to-home {
        font-size: 16px;
    }
    .send-your-url {
        display: inline-block;
    }
    .countdown-timer-value {
        display: block;
    }
}

// @keyframes example {
//     from {left: 25%;}
//     to {left: 75%;}
// }

.remaining-cards-number-list{
    position: absolute;
    display: flex;
    width: 100%;
    border: #232222 3px solid;
    left: -3px;
    color: white;
    /* height: 24px; */
    text-align: center;
    text-shadow: -1px 1px 1px #000, 1px 1px 1px #000, 1px -1px 1px #000, -1px -1px 1px #000, 0px 1px 1px #000, 1px 0px 1px #000, 0px -1px 1px #000, -1px 0px 1px #000;

    .remaining-cards-number{
        font-weight: bold;
        flex: 1;
        line-height: 30px;
    }
}
#game-finished{
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    z-index: 20;

    button {
        padding: 8px 18px;
    }

    .margin-right {
        margin-right: 30px;
    }
    .first-part {
        background: rgba(0, 0, 0, 0.7);
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .center-part {
            width: 200px;
            padding: 0.5em 1em 0.8em;
            font-size: x-large;
            font-weight: bold;
            background: black;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            border: #FFBC00 solid 2px;

            button {
                margin-top: 16px;
                margin-bottom: -2px;
            }
        }
    }
    .next-part {
        display: none;
        .end-results {
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(0,0,0,0.70);
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .center-part{
                background: black;
                padding: 0.5em 1em;
                font-weight: bold;
                font-size: 1.5em;
                border: #FFBC00 solid 2px;
            }

            .player-result {
                background-color: black;
                width: 300px;
                padding: 0.5em 1em;
                border: #FFBC00 solid 2px;
                .warning-is-guest{
                    color: red;
                    .login-link-text {
                        color: white;
                        font-weight: bold;
                    }
                    #login-dropdown-list {
                        left: initial;
                        right: 0;
                        bottom: 0;
                        top: initial;
                    }
                }

                .result-row {
                    display: flex;
                    justify-content: space-between;
                }
                .player-sumary {
                    display: flex;
                    justify-content: space-between;                    
                }
            }
            .end-game-buttons {
                margin-top: 16px;
                display: flex;
                justify-content: space-between;
            }

        }        
    }
}

.score-generated-feedback {
    position: absolute;
    font-weight: bold;
    font-size: 60px;
    z-index: 10;

    transition-timing-function: linear;

    transition: all 1.5s;
    color: hsla(0,0%,90%,1);
    text-shadow: -1px 1px 3px #000, 1px 1px 3px #000, 1px -1px 3px #000, -1px -1px 3px #000, 0px 1px 3px #000, 1px 0px 3px #000, 0px -1px 3px #000, -1px 0px 3px #000;

    @media screen and (max-width: $screen-width1 - 1px) {
        font-size: 60px;
    }

}


.card-player-icon {
    position: absolute;
    border: #232222 3px solid;
    width: calc(#{$player-icon-width});
    left: calc(8% - 68px);
    @media screen and (max-width: $screen-width1 - 1px) {
        left: 0;
    }

    img{
        display: block;
        width: 100%;
    }
    .player-username {
        position: absolute;
        height: 26px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 26px;
        background: #232222;
        width: 100%;
        border-left: #232222 3px solid;
        border-right: #232222 3px solid;
        color: white;
        text-align: center;
        left: -3px;
    }
}

//FEEDBACKS

.playable-card.feedback{
    z-index: 3;
    visibility: hidden;
}

.damage-aura {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;

     .damage-aura-indicator {
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        top: 70%;
        @media screen and (max-width: $screen-width1 - 1px) {
            width: initial;
        }
    }

}

#card-environment {
    // @media screen and (max-width: $screen-width1 - 1px) {
    //     position: relative;
    //     left: calc(50% - ((100% - #{$player-icon-width} - 3px * 3 - 1px + 3px) / 2));
    //     width: 100%;
    //     height: 100%;
    // }
    svg {
        position: absolute;
        z-index: -2000;
    }
}