#opponent-side{
    position: absolute;
    width: 100%;
    height: 40%;
    top: 0;

    .playable-cards .playable-card:nth-child(2) .opponent-has-left {
        position: absolute;
        display: block !important;
        z-index: 200;
        color: white;
    }
    &.actions-unavailable .playable-cards .playable-card:nth-child(3) .loading-overlay {
        z-index: 100;
        background-color: black;
        opacity: 0.2;
        position: absolute;        
        left: -3000px;
        bottom: 0;
        height: 1000px;
        width: 6000px;
        @media screen and (max-width: $screen-width1 - 1px) {
            bottom: -5%;
        }

    }

    .card-loading{
        bottom: 0;
    }
    .playable-cards{
        top: calc(20.5%);
    }
    .score-bar{
        top: 0;
    }

    .card-loading{
        transform:rotate(180deg);
        .car-loading-indicator{
            @media screen and (max-width: $screen-width1 - 1px) {
                right: calc(#{$player-icon-width} + 6px + (100% - #{$player-icon-width} - 6px) / 2);
            }
        }

    }
    .remaining-cards-number-list{
        bottom: -62px;
    }

    .damage-aura{
        .damage-aura-indicator {
            @media screen and (max-width: $screen-width1 - 1px) {
                left: calc(#{$player-icon-width} + 6px + (100% - #{$player-icon-width} - 6px) / 2);
            }
        }
    }


    .score-generated-feedback{
        // left: 42%;
        // top: 98%;
        left: 42%;
        top: 63%;
        // color: #9A0034;
    }
    .card-player-icon {
        top: 0;
        background: hsla(56,100%,20%,1);
        img {
            filter: brightness(0%);
        }
        .player-username {
            bottom: -26px;
        }
    }

    &.is-disconnected{
        .card-player-icon {
            background: rgba(110,0,0,1);
        }
    }
}