#opponent-side{
    position: absolute;
    width: 100%;
    height: 40%;
    top: 0;

    .card-loading{
        bottom: 0;
    }
    .playable-cards{
        top: 20%;
    }
    .score-bar{
        top: 0;
    }

    .card-loading{
        transform:rotate(180deg);
    }
    .remaining-cards-number-list{
        bottom: -62px;
    }

    .score-generated-feedback{
        // left: 42%;
        // top: 98%;
        left: 44%;
        top: 63%;
        // color: #9A0034;
    }
    .card-player-icon {
        top: 0;
        background: hsla(56,100%,20%,1);
        img {
            filter: brightness(0%);
        }
        .player-username {
            bottom: -26px;
        }

    }
}