@import '../utils';

@keyframes glowEffectButton {
    0%   {box-shadow: 0px 0px 30px -2px rgba(255, 214, 99,1), inset 0px 0px 12px rgba(0,0,0,0.6);}
    50%  {box-shadow: 0px 0px 30px 2px rgba(255, 214, 99,1), inset 0px 0px 12px rgba(0,0,0,0.6);}
    100% {box-shadow: 0px 0px 30px -2px rgba(255, 214, 99,1), inset 0px 0px 12px rgba(0,0,0,0.6);}
}


#player-side{
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;

    .card-loading{
        top: 0;
    }
    &:not(.actions-unavailable):not(.is-spectator) > .playable-cards > .playable-card{
        @extend .clickable-block;
        &:hover{
            margin:-0.05em;
            border-width: 0.1em;
            border-color:  #2196F3;
        }
    }


    .playable-cards{
        bottom: calc(22% + 186px);

        .playable-card{
            // &:not(.unavailable){
            //     @extend .clickable-block;
            //     &:hover{
            //         margin:-0.05em;
            //         border-width: 0.1em;
            //         border-color:  #2196F3;
            //     }
            // }
            &.preparing-card{
                margin:-0.05em;
                border-width: 0.1em;
                border-color:  #2196F3;
                &::after {
                    position:absolute;
                    display:block;
                    z-index: 1;
                    background-color: white;
                    opacity: 0.2;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    content: '';
                }
            }
        }
    }
    .score-bar{
        bottom: 0;
    }
    .life-bar {
        bottom: 0;
    }
    &:not(.actions-unavailable) > #discard-button {
        @extend .clickable-block;
    }
    #discard-button{
        position: absolute;

        height: 74px;
        left: calc(8% - 72px);
        bottom: 248px;
        width: 144px;

        font-size: 20px;
        color: #090707;
        padding: 10px 22px;
        background: -moz-linear-gradient( top, #140099 0%, #ffbb00 0%, #ffde70 50%, #ffbb00 99%, #ff3b3b);
        background: -webkit-gradient( linear, left top, left bottom, from(#140099), color-stop(0.0, #ffbb00), color-stop(0.50, hsla(46,100%,85%,1)), color-stop(0.99, #ffbb00), to(#ff3b3b));
        border-radius: 4px;
        border: 4px solid #090707;
        box-shadow: 0px 0px 30px rgba(255, 214, 99,1), inset 0px 0px 12px rgba(0,0,0,0.6);
        text-shadow: 0px 0px 2px rgba(013,013,013,0.4), 0px 1px 2px rgba(255,255,255,1);
        font-weight: bold;

        animation-name: glowEffectButton;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    &.is-spectator {
        #discard-button{
            display: none;
        }
    }

    .remaining-cards-number-list{
        top: -62px;
    }

    .score-generated-feedback{
        // right: 42%;
        // bottom: 98%;

        right: 44%;
        bottom: 63%;

        // color: #0C7100;
    }

    .card-player-icon {
        bottom: 0;
        background-color: #ffec00;
        .player-username {
            top: -26px;
        }
    }

    .damage-aura{
        transform:rotate(180deg);
    }
}
