@import '../utils';

@keyframes glowEffectButton {
    0%   {box-shadow: 0px 0px 30px -2px rgba(255, 214, 99,1), inset 0px 0px 12px rgba(0,0,0,0.6);}
    50%  {box-shadow: 0px 0px 30px 2px rgba(255, 214, 99,1), inset 0px 0px 12px rgba(0,0,0,0.6);}
    100% {box-shadow: 0px 0px 30px -2px rgba(255, 214, 99,1), inset 0px 0px 12px rgba(0,0,0,0.6);}
}


#player-side{
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;

    &.actions-unavailable #discard-button .loading-overlay {
    // .loading-overlay {
        z-index: 100;
        background-color: black;
        opacity: 0.2;
        position: absolute;
        left: -1000px;
        top: -4px;
        height: 323px;
        width: 4000px;
        @media screen and (max-width: $screen-width1 - 1px) {
            left: initial;
            right: -17px;
            height: 2000px;
        }
    }

    .card-loading{
        top: 0;
        .car-loading-indicator{
            @media screen and (max-width: $screen-width1 - 1px) {
                left: calc(#{$player-icon-width} + 6px + (100% - #{$player-icon-width} - 6px) / 2);
            }
        }
    }
    &:not(.actions-unavailable):not(.is-spectator) > .playable-cards > .playable-card{
        @extend .clickable-block;
        &:hover{
            margin:-0.05em;
            border-width: 0.1em;
            border-color:  #2196F3;
        }
    }


    .playable-cards{
        bottom: calc(20.5%);

        .playable-card{
            bottom: 0;
            &.preparing-card{
                margin:-0.05em;
                border-width: 0.1em;
                border-color:  #2196F3;
                &::after {
                    position:absolute;
                    display:block;
                    z-index: 1;
                    background-color: white;
                    opacity: 0.2;
                    left: 0;
                    top: 0;
                    height: 100%;
                    width: 100%;
                    content: '';
                }
            }
        }
    }
    .score-bar{
        bottom: 0;
    }
    .life-bar {
        bottom: 0;
    }
    &:not(.actions-unavailable) > #discard-button {
        @extend .clickable-block;
    }
    #discard-button{
        overflow: visible !important;

        position: absolute;

        height: 74px;
        left: calc(8% - 72px);
        bottom: 248px;
        width: calc(#{$discard_button_width});

        font-size: 20px;
        color: #090707;
        padding: 10px 22px;
        background: -moz-linear-gradient( top, #140099 0%, #ffbb00 0%, #ffde70 50%, #ffbb00 99%, #ff3b3b);
        background: -webkit-gradient( linear, left top, left bottom, from(#140099), color-stop(0.0, #ffbb00), color-stop(0.50, hsla(46,100%,85%,1)), color-stop(0.99, #ffbb00), to(#ff3b3b));
        border-radius: 4px;
        border: 4px solid #090707;
        box-shadow: 0px 0px 30px rgba(255, 214, 99,1), inset 0px 0px 12px rgba(0,0,0,0.6);
        text-shadow: 0px 0px 2px rgba(013,013,013,0.4), 0px 1px 2px rgba(255,255,255,1);
        font-weight: bold;

        animation-name: glowEffectButton;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        @media screen and (max-width: $screen-width1 - 1px) {
            left: initial;
            right: 3px;
            padding: calc(#{$discard-button-vpadding}) calc(#{$discard-button-hpadding});
            font-size: 16px;
            height: initial;
            // bottom: calc(27% + #{$playable-card-width} * 1.425);
            bottom: 79%;
        }

        @media screen and (min-width: 640px) and (max-width: $screen-width1 - 1px){
            font-size: 20px;
        }

        @media screen and (max-width: $screen-width2 - 1px) {
            font-size: 14px;
            padding: 0;
            bottom: 80%;
        }

    }
    &.is-spectator {
        #discard-button{
            display: none;
        }
    }

    .remaining-cards-number-list{
        top: -62px;
    }

    .score-generated-feedback{
        // right: 42%;
        // bottom: 98%;

        right: 42%;
        bottom: 63%;

        // color: #0C7100;
    }

    .card-player-icon {
        bottom: 0;
        background-color: #ffec00;
        .player-username {
            top: -26px;
        }
    }

    .damage-aura{
        transform:rotate(180deg);
        .damage-aura-indicator {
            @media screen and (max-width: $screen-width1 - 1px) {
                right: calc(#{$player-icon-width} + 6px + (100% - #{$player-icon-width} - 6px) / 2);
            }
        }
    }

    .open-instruction-button {
        @extend .clickable-block;

        position: absolute;
        bottom: 120%;
        background: black;
        color: white;
        font-weight: bold;
        height: 24px;
        width: 24px;
        line-height: 24px;
        text-align: center;
        border-radius: 24px;
        left: 4px;

        @media screen and (max-width: $screen-width1 - 1px) {
            bottom: 100%;
        }
    }
    .instructions {
        position: absolute;
        bottom: 342px;
        background: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 8px 8px;
        @media screen and (max-width: $screen-width1 - 1px) {
            bottom: 100%;
            width: calc(100% - 16px);
            text-align: center;
            @media screen and (max-width: 460px) {
                font-size: 13px;
            }
            &::after {
                height: 100%;
                width: 100%;
                background: hsla(0, 100%, 100%, 0.60);
                position: absolute;
                display: block;
                left: 0;
                top: 100%;
                height: 1000%;
                width: 100%;
                content: '';
            }
            &::before {
                height: 100%;
                width: 100%;
                background: hsla(0, 100%, 100%, 0.60);
                position: absolute;
                display: block;
                left: 0;
                bottom: 100%;
                height: 1000%;
                width: 100%;
                content: '';
            }
        }

        .close-button {
            @extend .clickable-block;

            position: absolute;
            top: -25px;
            background: hsla(0,0%,73%,1);
            height: 24px;
            line-height: 24px;
            width: 24px;
            text-align: center;
            font-size: 25px;
            left: 0px;
            color: black;
            border-top: black 1px solid;
            border-right: black 1px solid;
        }
        .title {
            position: absolute;
            top: -25px;
            background: black;
            height: 25px;
            line-height: 25px;
            width: calc(100% - 25px);
            text-align: center;
            font-size: 25px;
            left: 25px;
        }
        .instruction {
            .strong {
                color: #ffbb00;            

            }
            .weak {
                color: hsla(0,0%,60%,1);
                text-shadow: -1px 1px 1px #000, 1px 1px 1px #000, 1px -1px 1px #000, -1px -1px 1px #000, 0px 1px 1px #000, 1px 0px 1px #000, 0px -1px 1px #000, -1px 0px 1px #000;
            }

            .explanation, .example {
                display: block;
                margin-left: 16px;
                margin-top: -5px;
                @media screen and (max-width: $screen-width1 - 1px) {
                    margin-left: initial;
                }

            }

            .scissor-text {
                font-weight: bold;
                color: red;
            }
            .paper-text {
                font-weight: bold;
                color: #709E51;
            }

            .damage-text {
                font-weight: bold;
                color: #ffec00;
                text-shadow: -1px 1px 1px #000, 1px 1px 1px #000, 1px -1px 1px #000, -1px -1px 1px #000, 0px 1px 1px #000, 1px 0px 1px #000, 0px -1px 1px #000, -1px 0px 1px #000;
            }

            &.bigger-margin {
                margin-top: 8px;
            }
        }
    }
}
