<template name="matchmakingView">
    <div id="matchmaker-view" class="{{GetClassForGuest}}">
<!--         <div id="top-area"> -->
            <div class="profile-box">
                <div class="username profile-section">
<!--                     <span class="label">Username</span>: -->
<!--                     {{#unless currentUser.profile.guest}}
                        {{> loginButtons}}
                    {{else}}
                        <span class="value">{{currentUser.username}} </span>
                    {{/unless}} -->
                    <span class="value">{{currentUser.username}} </span>
                </div>
                <div class="login-buttons-section profile-section">
<!--                     {{#unless currentUser.profile.guest}}
                        <i>Logged.</i>
                    {{else}}
                        {{> loginButtons}}
                    {{/unless}} -->
                    {{> loginButtons}}
                </div>
                <div class="rank profile-section">
                    <span class="label">Rank</span>:
                    <span class="value">
                        {{#unless currentUser.profile.guest}}
                            {{currentUser.rank}}
                        {{else}}
                            N/A
                        {{/unless}}
                    </span>
                </div>
                <div class="glory profile-section">
                    <span class="label">Glory</span>:
                    <span class="value">
                        {{#unless currentUser.profile.guest}}
                            {{currentUser.score}}
                        {{else}}
                            N/A
                        {{/unless}}
                    </span>
                </div>
                <div class="wins profile-section">
                    <span class="label">Victories</span>:
                    <span class="value">
                        {{#unless currentUser.profile.guest}}
                            {{currentUser.winNumber}}
                        {{else}}
                            N/A
                        {{/unless}}
                    </span>
                </div>
                <div class="losses profile-section">
                    <span class="label">Defeats</span>:
                    <span class="value">
                        {{#unless currentUser.profile.guest}}
                            {{currentUser.loseNumber}}
                        {{else}}
                            N/A
                        {{/unless}}
                    </span>
                </div>
            </div>
            <div class="horizontal-logo">
                <img class="logo-blitz" src="images/logo_blitz.png" alt="BLITZ">
                <img class="logo-rps" src="images/logo_rps.png" alt="RPS">
                <div class="twitter-link"><a href="https://twitter.com/gael_flores" target="_blank">@gael_flores</a></div>
            </div>
            <div id="game-generator-area">
                <button class="launch-battle">
                    Start New Duel
                </button>
                <div class="battle-link">
                    <span id="game-url">{{GetBaseDuelUrl}}</span>
                </div>
            </div>
<!--         </div> -->
        <ul id="online-users-list">
            {{#each user in GetOnlineUsers}}
                <li class="user {{GetUserStatusClass user}}">
                    <div class="username">{{user.username}}</div>
                    <div class="rank">{{user.rank}}</div>
                    {{#if HashToArrayOfKeys user.oppenedLinks}}
                        <i class="action-icon fa fa-sign-in"></i>
                        <div class="waiting-for-opponent"> Waiting for opponent... </div>
                    {{/if}}
                    {{#if user.isPlaying}}
                        <i class="action-icon fa fa-eye"></i>
                        <div class="in-duel"> In duel. </div>
                    {{/if}}
                    <div class="user-status-extension">
                        <div class="wrapper">
                            {{#if HashToArrayOfKeys user.oppenedLinks}}
                                <div class="user-status-extension-title"> Opened links: </div>
                                {{#each link in HashToArrayOfKeys user.oppenedLinks}}
                                    <a href="{{GetDuelUrlFromId link}}" class="link" target="_blank"> {{link}} </a>
                                {{/each}}
                            {{/if}}
                            {{#if user.isPlaying}}
                                <div class="user-status-extension-title"> Spectate duel: </div>
                                <a href="{{GetDuelUrlFromId user.currentRoomID}}" class="link" target="_blank"> {{user.currentRoomID}} </a>
                            {{/if}}
                        </div>
                    </div>
                </li>
            {{/each}}
        </ul>
        <div id="contact-button">
            Contact
        </div>
        <div id="contact-page">
            <img class="my-face" src="images/my_face.jpg">
            <span class="twitter-link"><b>Twitter:</b> <a href="https://twitter.com/gael_flores" target="_blank">@gael_flores</a></span>
            <span class="email-link"> <b>Email:</b> <span class="email">gael@blitzrps.com</span></span>

            <b>Hi this is Gael! Hope you enjoy the game :)</b>
            <br>
            <br>
            I would love to read your feedback or suggestions!
            <br>I reply to every messages on Twitter.
            <br>
            The next major update will be on 4th June 2016.
            <br>
            <br>
            <b style="color: hsla(0,3%,50%,1);font-size: 22px;">Acknowledgement</b><br>
            This project wouldn't have been possible without the amazing work of:<br><br>
             <b>CloudMyGround</b><br>
             She is a very talented and hard-working illustrator from Vietnam.<br>
             Working with her was an incredible experience.<br>
             If you like the illustrations, go give her some love: <a href="https://twitter.com/cloudmyground" target="_blank">@cloudmyground</a> !<br><br>
             <b>cYsmix</b><br>
             The rising Norwegian music maker, his sound is out of this world and blew my brain off so many times.<br>
             He very kindly allowed me to use his work for this game.<br>
             If you like the music, go give him some love: <a href="https://twitter.com/cYsmix" target="_blank">@cYsmix</a> !
            
        </div>
        <div id="chat-area">
            <div id="messages-list-area">
                {{#each message in GetMessagesToDisplay}}
                    {{> chatMessage message=message}}
                {{/each}}
            </div>
            <div id="message-input-box">
                <textarea></textarea>
                <button class="send-message sober"> Send </button>
            </div> 
        </div>
    </div>
</template>

<template name="chatMessage">
    <div class="message {{GetClassForGuest}}">
        <div class="date">
            [{{GetTimeToDisplay}}]
        </div>
        <div class="user">
            {{message.user.username}}:
        </div>
        <div class="text">
            {{#autolink}} {{message.text}} {{/autolink}}
        </div>
    </div>    
</template>