<template name="matchmakingView">
    <div id="matchmaker-view" class="{{GetClassForGuest}}">
<!--         <div id="top-area"> -->
            <div class="profile-box">
                <div class="username profile-section">
<!--                     <span class="label">Username</span>: -->
<!--                     {{#unless currentUser.profile.guest}}
                        {{> loginButtons}}
                    {{else}}
                        <span class="value">{{currentUser.username}} </span>
                    {{/unless}} -->
                    <span class="value">{{currentUser.username}} </span>
                </div>
                <div class="login-buttons-section profile-section">
<!--                     {{#unless currentUser.profile.guest}}
                        <i>Logged.</i>
                    {{else}}
                        {{> loginButtons}}
                    {{/unless}} -->
                    {{> loginButtons}}
                </div>
                <div class="rank profile-section">
                    <span class="label">Rank</span>:
                    <span class="value">
                        {{#unless currentUser.profile.guest}}
                            {{currentUser.rank}}
                        {{else}}
                            N/A
                        {{/unless}}
                    </span>
                </div>
                <div class="glory profile-section">
                    <span class="label">Glory</span>:
                    <span class="value">
                        {{#unless currentUser.profile.guest}}
                            {{currentUser.score}}
                        {{else}}
                            N/A
                        {{/unless}}
                    </span>
                </div>
                <div class="wins profile-section">
                    <span class="label">Victories</span>:
                    <span class="value">
                        {{#unless currentUser.profile.guest}}
                            {{currentUser.winNumber}}
                        {{else}}
                            N/A
                        {{/unless}}
                    </span>
                </div>
                <div class="losses profile-section">
                    <span class="label">Defeats</span>:
                    <span class="value">
                        {{#unless currentUser.profile.guest}}
                            {{currentUser.loseNumber}}
                        {{else}}
                            N/A
                        {{/unless}}
                    </span>
                </div>
            </div>
            <div class="horizontal-logo">
                <img class="logo-blitz" src="images/logo_blitz.png" alt="BLITZ">
                <img class="logo-rps" src="images/logo_rps.png" alt="RPS">
            </div>
            <div id="game-generator-area">
                <button class="launch-battle">
                    Start New Duel
                </button>
                <div class="battle-link">
                    <span id="game-url">{{GetBaseDuelUrl}}</span>
                </div>
            </div>
<!--         </div> -->
        <ul id="online-users-list">
            {{#each user in GetOnlineUsers}}
                <li>
                    <div class="username">{{user.username}}</div>
                    <div class="rank">{{user.rank}}</div>
                </li>
            {{/each}}
        </ul>
        <div id="chat-area">
            <div id="messages-list-area">
                {{#each message in GetMessagesToDisplay}}
                    {{> chatMessage message=message}}
                {{/each}}
            </div>
            <div id="message-input-box">
                <textarea></textarea>
                <button class="send-message"> Send </button>
            </div> 
        </div>
    </div>
</template>

<template name="chatMessage">
    <div class="message {{GetClassForGuest}}">
        <div class="date">
            [{{GetTimeToDisplay}}]
        </div>
        <div class="user">
            {{message.user.username}}:
        </div>
        <div class="text">
            {{#autolink}} {{message.text}} {{/autolink}}
        </div>
    </div>    
</template>