<template name="opponentSide">
    <div id="opponent-side" class="{{GetClassForActionsAvailability}}">
        <div class="card-player-icon">
            <img src="/images/character_color1.png">
            <div class="player-username"> {{GetUser.username}} </div>
            <div class="remaining-cards-number-list">
                {{> remainingCardNumber element="SCISSOR" GetRemainingCardsNumber=GetRemainingCardsNumber}}
                {{> remainingCardNumber element="PAPER" GetRemainingCardsNumber=GetRemainingCardsNumber}}
                {{> remainingCardNumber element="ROCK" GetRemainingCardsNumber=GetRemainingCardsNumber}}
            </div>
        </div>
<!--         {{> scoreBar data}} -->
        {{> lifeBar data}}
        {{> playableCards GetCard=GetCard}}
    </div>
</template>