<template name="playerSide">
    <div id="player-side" class="{{GetClassForActionsAvailability}} {{GetClassForIsSpectator}}">
        <div class="card-player-icon">
            <img src="/images/character_color1.png">
            <div class="player-username"> {{GetUser.username}} </div>
            <div class="remaining-cards-number-list">
                {{> remainingCardNumber element="SCISSOR" GetRemainingCardsNumber=GetRemainingCardsNumber}}
                {{> remainingCardNumber element="PAPER" GetRemainingCardsNumber=GetRemainingCardsNumber}}
                {{> remainingCardNumber element="ROCK" GetRemainingCardsNumber=GetRemainingCardsNumber}}
            </div>
        </div>

        {{> playableCards GetCard=GetCard}}
<!--         {{> scoreBar data}} -->
        {{> lifeBar data}}
        {{#if IsGameRoomReady}}
            <button id="discard-button">
                Get New Hand !
            </button>
        {{/if}}

        {{#if IsDisplayingInstructions}}
            <div class="instructions">
                <div class="close-button"> X </div>
                <div class="title"> INSTRUCTIONS </div>


                <div class="instruction">
                    <span class="case">
                        <span class="strong"><strong>STRONG SIGN card</strong></span> played on top of <span class="weak"><strong>WEAK SIGN card</strong></span>:
                    </span>
                    <span class="explanation">
                        Damages = <span class="strong">strong sign card <strong>VALUE</strong> </span> + <span class="weak">WEAK SIGN card <strong>VALUE</strong> </span>
                    </span>
                    <span class="example">
                        Example: <span class="scissor-text">SCISSOR 2</span> on <span class="paper-text">PAPER 3</span> inflicts <span class="damage-text">5 damages</span>. (<span class="scissor-text">2</span> + <span class="paper-text">3</span> = <span class="damage-text"> 5</span>)
                    </span>
                </div>

                <div class="instruction bigger-margin">
                    <span class="case">
                        <span class="weak"><strong>WEAK SIGN card</strong></span> played on top of <span class="strong"><strong>STRONG SIGN card</strong></span> :
                    </span>
                    <span class="explanation">
                        Damages = <span class="weak">WEAK SIGN card <strong>VALUE</strong> </span> - <span class="strong">strong sign card <strong>VALUE</strong> </span>
                    </span>
                    <span class="example">
                        Example: <span class="paper-text">PAPER 3</span> on <span class="scissor-text">SCISSOR 2</span> inflicts <span class="damage-text"> 1 damages</span>. (<span class="paper-text">3</span> - <span class="scissor-text">2</span> = <span class="damage-text"> 1</span>)
                    </span>
                </div>
            </div>
        {{else}}
            <div class="open-instruction-button">
                ?
            </div>
        {{/if}}
    </div>
</template>