<template name="playableCards">
    <div class="playable-cards">

        
        {{> playableCard index=0 GetCard=(GetCardFunc 0)}}

        {{> playableCard index=1 GetCard=(GetCardFunc 1)}}

        {{> playableCard index=2 GetCard=(GetCardFunc 2)}}
    </div>

    <div class="remaining-cards-number-list">
        {{> remainingCardNumber element="SCISSOR" GetRemainingCardsNumber=GetRemainingCardsNumberFunc}}
        {{> remainingCardNumber element="PAPER" GetRemainingCardsNumber=GetRemainingCardsNumberFunc}}
        {{> remainingCardNumber element="ROCK" GetRemainingCardsNumber=GetRemainingCardsNumberFunc}}
    </div>

</template>

<template name="playableCard">
    <div class="playable-card glowing {{GetCard.element.toLowerCase}} {{GetClassForIsPreparing}}">
        <img src="{{ImagePath}}" class="card-image">
        <div class="value top"> {{GetCard.value}} </div>
        <div class="value bottom"> {{GetCard.value}} </div>
    </div>    
</template>

<template name="remainingCardNumber">
    <div class="remaining-cards-number {{element.toLowerCase}}">
         <div class="text-info">
             {{GetRemainingCardsNumber element}}
         </div>
    </div>
</template>