<template name="duelView">
    <div id="duel-view">
        {{#if IsAlreadyPlayingOtherGame}}
            You cannot join this game because you are already playing in the room: {{OtherRoomUrl}}
        {{else}}
            {{#if IsGameRoomReady}}
                {{#if IsPlayer}}
                {{else}}
                    <div id="spectating-message">
                        You are now spectating
                    </div>
                {{/if}}
                {{> cardEnvironment}}
                {{> opponentSide}}
                {{> centralStack}}
            {{else}}
                {{> countdown}}
            {{/if}}
            {{> playerSide}}

            {{#if IsGameFinished}}
                <div id="game-finished">
                    <div class="first-part">
                        <div class="center-part">
                            <div class="victory-message">
                                {{#if IsWinner}}
                                    Victory !
                                {{else}}
                                    Defeat...
                                {{/if}}
                            </div>
                            <button class="see-results">
                                Next
                            </button>
                        </div>
                    </div>
                    <div class="next-part">
                        <div class="end-results">
                            <div class="player-result">
                                {{> playerResult data=GetOpponentData}}
                            </div>
                            <div class="center-part-parent">
                                <div class="center-part">
                                    <div class="victory-message">
                                        {{#if IsWinner}}
                                            Victory
                                        {{else}}
                                            Defeat
                                        {{/if}}
                                    </div>
                                    <div class="score-change">
                                        {{ScoreChange}} Glory
                                    </div>
                                </div>
                                <div class="end-game-buttons">
                                    <button class="play-again margin-right">Play Again</button>
                                    <button class="go-to-home">Home</button>
                                </div>
                            </div>
                            <div class="player-result">
                                {{> playerResult data=GetPlayerData}}
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/if}}
    </div>
</template>

<template name="playerResult">
    <div class="result-row">
        <div class="label"> Rank: </div> <div class="value">{{GetOldRank}} -> {{GetNewRank}}</div>
    </div>
    <div class="result-row">
        <div class="label"> Score: </div> <div class="value">{{GetOldScore}} -> {{GetNewScore}}</div>
    </div>
    <div class="player-sumary">
        <div class="win-number"> Win: {{GetWinNumber}} </div> <div class="lose-number"> Lose: {{GetLoseNumber}} </div>
    </div>
</template>