<template name="duelView">
    <div id="duel-view">
        {{#if IsGameRoomReady}}
            {{> opponentSide}}
            {{> centralStack}}
        {{else}}
            {{> countdown}}
        {{/if}}
        {{> playerSide}}

        {{#if IsGameFinished}}
            <div id="game-finished">
                <div class="text-info">
                    {{#if IsWinner}}
                        YOU WIN !!!
                    {{else}}
                        YOU LOOSE !!
                    {{/if}}
                </div>
            </div>
        {{/if}}
    </div>
</template>