<template name="centralStack">
    <div id="central-stack">
            <div id="top-card">
                {{> playableCard GetCard=GetCardFunc}}
            </div>
        
        {{#each card in GetStackCards}}
            <div class="playable-card {{card.element.toLowerCase}}" style="{{GetStyleForIndex @index}}">
                <div class="value top"> {{card.value}} </div>
                <div class="element"> {{card.element}} </div>
                <div class="value bottom"> {{card.value}} </div>
            </div>    

        {{/each}}
    </div>
</template>