<template name="countdown">
    <div id="countdown">
        {{#if IsCountdownStarted}}
            <i class="opponent-name">{{OpponentName}}</i> joined !
            <br>
            Duel starting in <span class="countdown-timer-value">{{CountdownValue.toFixed 2}}</span>
        {{else}}
            <button class="go-to-home"><i class="fa fa-home"></i> Home</button>
            <br><br>
            Waiting for opponent to join...
            <br>
            <span class="send-your-url"> Send your url </span> <a class="url" href="http://{{UrlToShare}}"> {{UrlToShare}} </a> to opponent for duel to begin.
        {{/if}}
    </div>
</template>